body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    flex-direction: column;
}



main{
    width: 90%;
    max-width: 900px;
    flex-direction: row;
    margin-top: 80px;
    height: calc(100% - 80px);
    padding: 50px 0;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: space-around
}
#message{
    height: 50px;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#message input{
    width: 87%;
    height: 30px;
    border: 2px solid #2fd69a;
    padding: 4px 20px;
    border-radius: 20px
}
#message button{
    background-color: white;
    border: none;
    border-radius: 20px;
    height: 35px;
    width: 35px;
    padding: 3px;
    font-size: 20px;
    color: #24ac7e;
    cursor: pointer;
    transition: 0.2s
}
#message button:hover{
    background-color: #2fd69a;
    color: white
}


#chat{
    border-top: 2px solid #2fd69a;
    border-bottom: 2px solid #2fd69a;
    height: calc(100% - 50px);
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #2fd69a rgba(255, 255, 255, 0) 
}
#chat div{
    margin: 5px;
}
#chat h6,#chat p{
    margin: 3px
}
#chat h6{
    color: #555
}
#chat p{
    width: max-content;
    max-width: 80%;
    background: linear-gradient(110deg,#2fd69965, #24ac7f91);
    padding: 4px 8px;
    border-radius: 20px
}
.me{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}